@model IEnumerable<MyBlog.Models.BlogModels.Post>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <table>
    @foreach (var item in Model) {
        <tr>
            @Html.Partial("_PostPreview", item)
        </tr>
    }
    </table>    
</div>